/* default styles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

.clear {
  clear: both;
}

/* main styles */

body {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #FAFAFA;
  margin: auto;
  width: 50%;
  background: #2A2C25;
}



/* 
white: FAFAFA
dark: 2A2C25
yellow: FF7C2F
 */